body{
    margin: 0;
    padding: 0;
    background: url("../img/tienda_login2.jpg")top;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 2.1;
}

body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
    background: linear-gradient(#26A69A,#006064);
    opacity: 0.4;
}
.container{
    margin-top: 5%;
}
.card{
    padding-right: 20px;
}


