<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>mintic.sprint2.mintiendaSB.Controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>mintic.sprint2.mintiendaSB.Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_cliente</servlet-name>
        <servlet-class>mintic.sprint2.mintiendaSB.Controlador.Controlador_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_proveedor</servlet-name>
        <servlet-class>mintic.sprint2.mintiendaSB.Controlador.Controlador_proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_producto</servlet-name>
        <servlet-class>mintic.sprint2.mintiendaSB.Controlador.Controlador_producto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_cliente</servlet-name>
        <url-pattern>/Controlador_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_proveedor</servlet-name>
        <url-pattern>/Controlador_proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_producto</servlet-name>
        <url-pattern>/Controlador_producto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
